 body {
            background-image: url('sam.jpg');
            background-color: #000; /* Fallback color */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            transition: opacity 1s ease-in-out;
        }

        #alert{
            align-items: center;
        }
        .starter-container {
            text-align: center;
            margin: 20px;
        }

        #open-btn {
            background-color: #4CAF50;
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
            display: block; 
            margin: 0 auto;
            position: relative; 
        }

        #open-btn:hover {
            background-color: #3e8e41;
        }

        #contact-container {
            background-image: url(https://img.freepik.com/premium-photo/pencils-red-container-with-pencil-wall_953680-1819.jpg);
            background-size: 100% 100%;
            border-radius: 30px 60px;
            justify-content: center;
            display: none;
            position:fixed;
            left: 45%;
            top: 15%;
            transform: translate(-50%, 5%);
            border: 3px solid #999999;
            z-index: 9;
            background-color: #999999;
            width: 700px; 
            height: 600px; 
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            filter: blur(5px);
        }

        .inputBox {
            margin-bottom: 20px;
        }

        .inputBox input, .inputBox textarea {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .inputBox input:focus, .inputBox textarea:focus {
            border-color: #4CAF50;
        }

        .inputBox button[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
            display: block; 
            margin: 0 auto; 
        }

        .inputBox button[type="submit"]:hover {
            background-color: #3e8e41;
        }

        #close-btn:hover {
            background-color: #3e8e41;
        }
