body {
            background-image: url('sunset.jpg');
            background-color: #000; 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            transition: opacity 1s ease-in-out;
        }

        #alert{
            align-items: center;
        }
        .starter-container {
            text-align: center;
            margin: 20px;
        }

        #open-btn {
            background-color: rgb(255, 0, 0); 
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 60px 60px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
            display: block; 
            margin: 10px auto;
            position: relative; 
            animation: colorChange 3s infinite;
        }

        @keyframes colorChange {
            0% { background-color: rgb(255, 0, 0); } 
            33% { background-color: rgb(0, 255, 0); } 
            66% { background-color: rgb(0, 0, 255); } 
            100% { background-color: rgb(255, 0, 0); } 
        }

        #open-btn:hover {
            background-color: #3e8e41;
        }

        #contact-container {
            background-image: url(form.jpg);
            background-size: 100% 100%;
            border-radius: 30px 60px;
            justify-content: center;
            display: none;
            position:fixed;
            left: 50%;
            right: 50%;
            top: 10%;
            bottom: 15%;
            transform: translate(-50%, 5%);
            border: 3px solid #999999;
            z-index: 9;
            background-color: #999999;
            width: 700px; 
            height: 600px; 
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            filter: blur(5px);
        }

         .alert{
            text-align: center;
            font-size:xx-large;
            color: rgba(255, 255, 255, 0.7);
        }

        h1 {
            text-align: center;
            font-size: medium;
            color: rgba(255, 255, 255, 0.7);
        }

        .inputBox {
            margin-bottom: 20px;
        }

        .inputBox input {
            background-color: rgba(255, 255, 255, 0);
            width: 94%;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            color: #fff;
            border-radius: 40px 60px;
            justify-content: center;
            margin-left: 10px;
            outline: none;
        }

        .inputBox input::placeholder{
            color: rgba(255, 255, 255, 0.7);
        }
        .inputBox textarea{
            width: 94%;
            padding: 10px;
            border: 1px solid black;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 5px;
            justify-content: center;
            color: #fff;
            margin-left: 10px;
        }

        .inputBox textarea::placeholder{
            color: rgba(255, 255, 255, 0.7);
        }
        .inputBox input:focus, .inputBox textarea:focus {
            border-color: #4CAF50;
        }

        .inputBox button[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
            display: block; 
            margin: 0 auto; 
        }

        .inputBox button[type="submit"]:hover {
            background-color: #3e8e41;
        }
